.mainPage_container{
    height: 90vh;
    overflow-y: auto;
}
/*------------- SCROLL BAR ----------------*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--white);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--gray);
}